.conteiner {
  background-image: url("../../imagenes/plane-sky-black-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 900px;
}
.social {
  margin-left: -110px;
  flex-direction: column;
  margin-top: 300px;
}

.globo {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  margin-left: 150px;
  border-color: antiquewhite;
  border-style:solid;
border-radius: 700px;
}

.texto {
  font-family:  Tahoma;
  text-align:justify;
  color: #ffffff;
  font-size: small;
  text-indent: 50px;
  letter-spacing: 3px;
  margin-left: 120px;
  margin-top: 100px;
  width: 700px;
}

