.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 200px;
  width: 100%;
}
  .pagination {

    margin-top: 20px;
  }
  
  .pageButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .active {
    background-color: #0056b3;
  }
  