.form {
  background-image: url('../../../src/imagenes/plane-sky-black-white.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 100px;
  font-family: Verdana, Tahoma, sans-serif;
  width: 100%;
}

.inputbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: white;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

span {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #a8adb3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(29, 11, 121, 0.829);
  color: white;
  }

