.container {
    background-image: url('../../imagenes/plane-sky-black-white.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 2px solid ;
    border-radius: 15px;
    width: 50%;
    margin-left: 300px;
}

.bandera {
    margin-top: 30px;
}

.container:hover {
    box-shadow: 0 8px 16px 16px rgb(255, 255, 255, 255);
}

.name {
    font-size: x-large;
}

.detail {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: medium;
}
    
