.container{
    justify-content: center;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 1000px;
    background-image: url('../../imagenes/plane-sky-black-white.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:fixed;
}

.title{
    color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 16px 30px;
}

.detailBandera {
    width: 50px;
}
