.conteiner {
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-indent: 50px;
        letter-spacing: 3px;
      }
/* h1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
} */



