/* body {
    background-image: url('../../../images/landing.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:center;
} */



.container {
    height: 100%;
    text-align: center;
    margin-top: 170px;
    position: relative;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}


.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.button:hover {
    background-color: rgba(29, 11, 121, 0.829);
    color: white;
  }


