.card{
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    border: 2px solid var(--lime);
    padding: 15px;
    margin: 10px;
    background-color: #04294017;
    color: white;
    border-radius: 15px;
    position: relative;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
  }

  .name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: #eceff0;
  }
  

  .card_close {
    display:contents;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hsla(231, 39%, 49%, 0.596);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .details {
    width: 100%;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfcfc;
  }
 

.cardImage {
    border-radius: 15px;
    max-width: 100%;
    height:60%;
    flex-shrink: 0;
    padding: 0%;
  }