body {
      background-image: url('../../imagenes/fondo_estrellas2.gif');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position:center;
}

.title{
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 16px 30px;
}

.select{
    width: 10rem;
    font-size: small;
}