body {
  background-image: url('../../imagenes/fondo_estrellas2.gif');
  background-size: contain;
  background-attachment:fixed;
  background-repeat:unset;
  background-position: unset;
  font-family: Verdana, Tahoma, sans-serif;
}

.container {
  background-image: url("../../imagenes/plane-sky-black-white.jpg");
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.title{
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 16px 30px;
}

.select{
    width: 10rem;
    font-size: small;
}