.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 200px;
  width: 100%;
}
  .pagination {
    margin-top: 20px;
  }
  
  .pageButton {
    background-color: #a8adb3;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
  }
  .pageButton:hover {
    background-color: rgba(29, 11, 121, 0.829);
    color: white;
  }
  
  .active {
    background-color: #27292c;
  }
  