.container {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 5%;
}

.title {
  font-family:  Tahoma;
  margin-bottom: 20px;
  color: #fff;
}

.button {
  font-family:  Tahoma;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #a8adb3;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.button:hover {
  background-color: rgba(29, 11, 121, 0.829);
  color: white;
  }


